---
layout: default
title: Demo
active: demo2
permalink: /demo2/
---
                        
<div class="uk-width-1-2@s uk-width-2-5@m">
{% for item in site.data.locales[page.locale].sidenav %}	
 <div class="uk-nav-header">
  <div class="uk-clearfix">
   <div class="uk-float-left">
    <span class="uk-nav-header">{{ item.title }}</span>
   </div>
   <div class="uk-float-right">               
    <a href="{{ item.url }}">{{ site.data.locales[page.locale].page.view_all }} <span uk-drop-parent-icon></span></a>
   </div>
  </div>    
 </div>	
{% for entry in item.items %}	
 <ul class="uk-nav uk-nav-primary">
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
 </ul>
{% endfor %}	
</div>
