<!-- Sidenav -->
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
 <div class="uk-offcanvas-bar">        
   <div class="uk-width-1-2@s">
    <ul class="uk-text-large uk-nav-default uk-nav-divider" uk-nav>
      <li class="uk-nav-header">Menu</li>
      <li><a href="{{site.url}}"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Beranda</a></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: download"></span> Unduh Aplikasi</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Situs sedot wc</a></li>
      <li class="uk-nav-header">Games</li>              
      <li><a href="#">Pragmatic Play</a></li>
      <li><a href="#">PG Soft</a></li>
    </ul>
  </div>
 <div class="uk-position-fixed uk-position-top">
  <button class="uk-close-large uk-offcanvas-close"  type="button" aria-label="Close" uk-close></button>   
 </div>  
</div>
<!-- /Sidenav -->        
