<!-- Filters --> 
<div class="uk-margin-remove-bottom uk-clearfix">
 <div class="uk-float-right">
  <form class="uk-search uk-search-default">
    <span uk-search-icon></span>
    <input id="myfilter" class="uk-form-width-small uk-search-input" type="search" placeholder="{{site.data.settings.menu.page.search}}" aria-label="Search">
  </form>   
 </div>
 <div class="uk-float-left">
  <div class="uk-button-group">
   <button id="grid" uk-icon="icon: thumbnails; ratio: 2" class="uk-button uk-button-default uk-padding-remove"></button>
   <button id="list" uk-icon="icon: list; ratio: 2" class="uk-button uk-button-default uk-padding-remove"></button>
  </div>   
 </div>
</div>
<div class="uk-overflow-autos">
<nav uk-dropnav="mode: click">
   <ul class="uk-subnav">
        <li uk-filter-control><a href="#">{{site.data.settings.menu.page.all}}</a></li>
        {% if page.active == "pragmatic-play" %}
        <li>
            <a href="#">{{site.data.settings.menu.page.line}} <span uk-drop-parent-icon></span></a>
            <div class="uk-dropdown">
              <ul class="uk-nav uk-dropdown-nav">
                 <li><a uk-filter-control="[data-pilih='megaways']" href="#megaways">Megaways</a></li>
                 <li><a uk-filter-control="[data-pilih='slotmania']" href="#slotmania">Slot Mania</a></li>
                 <li><a uk-filter-control="[data-pilih='nexus']" href="#nexus">Nexus</a></li>
                 <li><a uk-filter-control="[data-pilih='infini']" href="#infini">Infini</a></li>
                 <li><a uk-filter-control="[data-pilih='classic']" href="#classic">Klasik Slot</a></li>
                 <li><a uk-filter-control="[data-pilih='tablegames']" href="#tablegames">{{site.data.settings.menu.page.table}}</a></li>
              </ul>
            </div>
        </li>
        {% endif %}
        {% if page.active == "pgsoft" %}
         <li uk-filter-control><a href="#">{{site.data.settings.menu.page.table}}</a></li>
        {% endif %}
    </ul>
</nav>
</div>
<!-- /Filters -->  
