<!-- Filters --> 
<div class="uk-margin-remove-bottom uk-clearfix">
 <div class="uk-float-right">
  <form class="uk-search uk-search-default">
    <span uk-search-icon></span>
    <input id="myfilter" class="uk-form-width-small uk-search-input" type="search" placeholder="Cari permainan" aria-label="Search">
  </form>   
 </div>
 <div class="uk-float-left">
  <div class="uk-button-group">
   <button id="grid" uk-icon="icon: thumbnails; ratio: 2" class="uk-button uk-button-default uk-padding-remove"></button>
   <button id="list" uk-icon="icon: list; ratio: 2" class="uk-button uk-button-default uk-padding-remove"></button>
  </div>   
 </div>
</div>
<div class="uk-overflow-autos">
<nav uk-dropnav="mode: click">
   <ul class="uk-subnav">
        <li uk-filter-control><a href="#">Semua</a></li>
        <li>
            <a href="#">Line <span uk-drop-parent-icon></span></a>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
        </li>
        <li uk-filter-control="[data-pilih='tablegames']"><a href="#tablegames"><a href="#">Table Games</a></li>
    </ul>
</nav>
</div>
<!-- /Filters -->  
