 <head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/theme.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">
  <script>
    var webpMachine = new webpHero.WebpMachine()
    webpMachine.polyfillDocument()
  </script>
 </head>
