<!-- Scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit-icons.min.js"></script>     
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $('#grid').click(function(event) {
    event.preventDefault()
    $('.bc').addClass('grid')
    $('.bc').removeClass('list')
    localStorage.setItem('.bc', 'grid');
  });
  $('#list').click(function(event){
    event.preventDefault();
    $('.bc').addClass('list')
    $('.bc').removeClass('grid')
    localStorage.setItem('.bc', 'list')
  })
  let itemClass = localStorage.getItem('.bc')
  $('.bc').addClass(itemClass)
});
</script>    
<script>
function showModal()
{
  $('#modal').show();
}

function hideModal()
{
  $('#modal').hide();
}
</script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const inputEl = document.getElementById('myfilter');
    const tags = Array.from(document.querySelectorAll('.uk-card'));

    inputEl.addEventListener('keyup', () => {
        const value = inputEl.value;

        tags.forEach(tag => {
            if (tag.textContent.includes(value)) {
                tag.parentNode.style.display = 'block'
            } else {
                tag.parentNode.style.display = 'none'
            }
        })
    })
})    
</script>
<script>
  window.addEventListener('resize', (event) => {
    window.defaultMinimalHeight = window.innerHeight;
    document.querySelector('.game-fallback-container').style.height = window.innerHeight + 'px';
  });
  window.addEventListener('load', (event) => {
    document.querySelector('.game-fallback-container').style.height = window.innerHeight + 'px';
    window.defaultMinimalHeight = window.innerHeight;

    document.addEventListener("touchmove", ScrollStart, false);
    document.addEventListener("scroll", Scroll, false);

    function ScrollStart() {
      if (window.currentHeight !== window.innerHeight) {
        window.currentHeight = window.innerHeight;
        document.querySelector('.game-fallback-container').style.height = (window.innerHeight < window.defaultMinimalHeight) ? window.defaultMinimalHeight + 'px' : window.innerHeight + 'px';
      }
    }

    function Scroll() {
      if (window.currentHeight !== window.innerHeight) {
        window.currentHeight = window.innerHeight;
        document.querySelector('.game-fallback-container').style.height = (window.innerHeight < window.defaultMinimalHeight) ? window.defaultMinimalHeight + 'px' : window.innerHeight + 'px';
      }
    }

    document.querySelector('.game-fallback-container').style.height = window.innerHeight + 'px';
  })
  </script>
<script>
const storageKey = 'theme-preference'

const onClick = () => {
  // flip current value
  theme.value = theme.value === 'light'
    ? 'dark'
    : 'light'

  setPreference()
}

const getColorPreference = () => {
  if (localStorage.getItem(storageKey))
    return localStorage.getItem(storageKey)
  else
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
}

const setPreference = () => {
  localStorage.setItem(storageKey, theme.value)
  reflectPreference()
}

const reflectPreference = () => {
  document.firstElementChild
    .setAttribute('data-theme', theme.value)

  document
    .querySelector('#theme-toggle')
    ?.setAttribute('aria-label', theme.value)
}

const theme = {
  value: getColorPreference(),
}

// set early so no page flashes / CSS is made aware
reflectPreference()

window.onload = () => {
  // set on load so screen readers can see latest value on the button
  reflectPreference()

  // now this script can find and listen for clicks on the control
  document
    .querySelector('#theme-toggle')
    .addEventListener('click', onClick)
}

// sync with system changes
window
  .matchMedia('(prefers-color-scheme: dark)')
  .addEventListener('change', ({matches:isDark}) => {
    theme.value = isDark ? 'dark' : 'light'
    setPreference()
  })  
</script>
<!-- /Scripts -->
