<!-- Scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit-icons.min.js"></script>     
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
<script src="./theme.js"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $('#grid').click(function(event) {
    event.preventDefault()
    $('.bc').addClass('grid')
    $('.bc').removeClass('list')
    localStorage.setItem('.bc', 'grid');
  });
  $('#list').click(function(event){
    event.preventDefault();
    $('.bc').addClass('list')
    $('.bc').removeClass('grid')
    localStorage.setItem('.bc', 'list')
  })
  let itemClass = localStorage.getItem('.bc')
  $('.bc').addClass(itemClass)
});
</script>    
<script>
function showModal()
{
  $('#modal').show();
}

function hideModal()
{
  $('#modal').hide();
}
</script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const inputEl = document.getElementById('myfilter');
    const tags = Array.from(document.querySelectorAll('.uk-card'));

    inputEl.addEventListener('keyup', () => {
        const value = inputEl.value;

        tags.forEach(tag => {
            if (tag.textContent.includes(value)) {
                tag.parentNode.style.display = 'block'
            } else {
                tag.parentNode.style.display = 'none'
            }
        })
    })
})    
</script>
<!-- /Scripts -->
