<!-- Settings -->
<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
 <div class="uk-offcanvas-bar">
  <button class="uk-offcanvas-close" type="button" uk-close></button>
  <h4>{{ site.data.locales[page.locale].settings.settings }}</h4>

<hr>

<!-- Game Filter --> 
<div class="uk-width-1-2@s uk-width-2-5@m">
    <ul class="uk-nav uk-nav-default">        
     <li class="uk-nav-header">{{ site.data.locales[page.locale].settings.filter }}</li>
     <li uk-filter-control><a href="#"><span uk-icon="icon: chevron-double-right"></span>{{ site.data.locales[page.locale].settings.all_games }}</a></li>
     <li uk-filter-control="[data-pilih='new']"><a href="#new"><span uk-icon="icon: chevron-double-right"></span>{{ site.data.locales[page.locale].settings.new_games }}</a></li>
     <li uk-filter-control="[data-pilih='table']"><a href="#table"><span uk-icon="icon: chevron-double-right"></span>{{ site.data.locales[page.locale].settings.table_games }}</a></li>
     <li uk-filter-control="[data-pilih='classic']"><a href="#classic"><span uk-icon="icon: chevron-double-right"></span>{{ site.data.locales[page.locale].settings.classic_games }}</a></li>
    </ul>
</div>
<!-- /Game Filter --> 

{% if page.active == "pragmaticplay" %}
<hr>  
<!-- Line --> 
<div class="uk-width-1-2@s uk-width-2-5@m">
    <ul class="uk-nav uk-nav-default">
     <li class="uk-nav-header">Line</li>
     <li><a uk-filter-control="[data-pilih='megaways']" href="#megaways"><span uk-icon="icon: chevron-double-right"></span>Megaways</a></li>
     <li><a uk-filter-control="[data-pilih='reelkingdom']" href="#reelkingdom"><span uk-icon="icon: chevron-double-right"></span>Reel Kingdom</a></li>
     <li><a uk-filter-control="[data-pilih='wsg']" href="#wsg"><span uk-icon="icon: chevron-double-right"></span>Wild Streak Gaming</a></li>
    </ul>
</div>
<!-- /Line -->

<hr>
  
<!-- Engine --> 
<div class="uk-width-1-2@s uk-width-2-5@m">
<h6 class="uk-nav-header uk-margin-remove-bottom">Engine</h6>    
 <div class="uk-column-1-2 uk-margin-remove-top"> 
    <ul class="uk-nav uk-nav-default">     
     <li><a uk-filter-control="[data-pilih='slotmania']" href="#slotmania"><span uk-icon="icon: chevron-double-right"></span>Slotmania</a></li>
     <li><a uk-filter-control="[data-pilih='nexus']" href="#nexus"><span uk-icon="icon: chevron-double-right"></span>Nexus</a></li>
     <li><a uk-filter-control="[data-pilih='infini']" href="#infini"><span uk-icon="icon: chevron-double-right"></span>Infini88</a></li>
     <li><a uk-filter-control="[data-pilih='vbet']" href="#vbet"><span uk-icon="icon: chevron-double-right"></span>Vbet</a></li>
     <li><a uk-filter-control="[data-pilih='partycasino']" href="#partycasino"><span uk-icon="icon: chevron-double-right"></span>Partycasino</a></li>
     <li><a uk-filter-control="[data-pilih='casumo']" href="#casumo"><span uk-icon="icon: chevron-double-right"></span>Casumo</a></li>
     <li><a uk-filter-control="[data-pilih='stoiximan']" href="#stoiximan"><span uk-icon="icon: chevron-double-right"></span>Stoiximan</a></li>
     <li><a uk-filter-control="[data-pilih='betano']" href="#betano"><span uk-icon="icon: chevron-double-right"></span>Betano</a></li>
    </ul>
 </div>
</div>
<!-- /Engine -->  
{% endif %}
 
{% if page.uid %}  
<hr>  
<!-- Mata Uang & Bahasa --> 
<div class="uk-width-1-2@s uk-width-2-5@m">
<ul class="uk-nav uk-nav-default">
 <li class="uk-nav-header">{{ site.data.locales[page.locale].settings.lang-cur }}</li> 
 
 {% if page.locale == 'id' %}
 
  {% assign postsOrPages = site.pages 
    | concat: site.pages 
    | concat: site.en
    | where: "uid", page.uid 
    | sort: "locale" %}
  {% for item in postsOrPages %}
   {% unless item.url contains '/page/' %}
    <li>
     <div class="uk-form-controls">
     <label><input class="uk-radio" type="radio" name="radio1" checked>     
      {{ site.data.locales[page.locale].settings.indonesian }}</label><br>
     <label><input class="uk-radio {{ item.locale }}" type="radio" name="radio2" value="{{ site.baseurl }}{{ item.url }}" onclick="openLink(this)">     
      {{ site.data.locales[item.locale].settings.english }}</label>   
     </div>
    </li>
   {% endunless %}
  {% endfor %}
 
 {% elsif page.locale == 'en' %}
  {% assign postsOrPages = site.pages 
    | concat: site.pages 
    | concat: site.id
    | where: "uid", page.uid 
    | sort: "locale" %}
  {% for item in postsOrPages %}
   {% unless item.url contains '/page/' %}
    <li>
     <div class="uk-form-controls">
     <label><input class="uk-radio {{ item.locale }}" type="radio" name="radio1" value="{{ site.baseurl }}{{ item.url }}" onclick="openLink(this)">     
      {{ site.data.locales[item.locale].settings.indonesian }}</label><br>
     <label><input class="uk-radio" type="radio" name="radio2" checked>     
      {{ site.data.locales[page.locale].settings.english }}</label>       
     </div>
    </li>
   {% endunless %}
  {% endfor %}

</ul>
 {% endif%}
</div>       
<!-- /Mata Uang & Bahasa --> 
{% endif%}
  
{% if page.active == "indocultures" %}
<hr>  
<!-- Line/Game Themes --> 
<div class="uk-width-1-2@s uk-width-2-5@m">
 <ul class="uk-nav uk-nav-default">
  <li class="uk-nav-header">{{ site.data.locales[page.locale].settings.providers }}</li>
  <li><a uk-filter-control="[data-pilih='pgsoft']" href="#pgsoft"><span uk-icon="icon: chevron-double-right"></span>PG Soft</a></li>
  <li><a uk-filter-control="[data-pilih='pragmaticplay']" href="#pragmaticplay"><span uk-icon="icon: chevron-double-right"></span>Pragmatic Play</a></li>
  <li><a uk-filter-control="[data-pilih='eagaming']" href="#eagaming"><span uk-icon="icon: chevron-double-right"></span>Eagaming</a></li>
  <li><a uk-filter-control="[data-pilih='idnplay']" href="#idnplay"><span uk-icon="icon: chevron-double-right"></span>IDN Play</a></li>                        
 </ul>
</div>
<!-- /Line/Game Themes -->
{% endif %}

{% if page.active == "mahjong" %}
<hr>  
<div class="uk-width-1-2@s uk-width-2-5@m">
 <ul class="uk-nav uk-nav-default">  
  <li class="uk-nav-header">{{ site.data.locales[page.locale].settings.providers }}</li>
  <li><a uk-filter-control="[data-pilih='pgsoft']" href="#pgsoft"><span uk-icon="icon: chevron-double-right"></span>PG Soft</a></li>
  <li><a uk-filter-control="[data-pilih='pragmaticplay']" href="#pragmaticplay"><span uk-icon="icon: chevron-double-right"></span>Pragmatic Play</a></li>
  <li><a uk-filter-control="[data-pilih='kagaming']" href="#kagaming"><span uk-icon="icon: chevron-double-right"></span>Ka Gaming</a></li>
  <li><a uk-filter-control="[data-pilih='dragoonsoft']" href="#dragoonsoft"><span uk-icon="icon: chevron-double-right"></span>Dragoon Soft</a></li>
  <li><a uk-filter-control="[data-pilih='nagagames']" href="#nagagames"><span uk-icon="icon: chevron-double-right"></span>Naga Games</a></li>
  <li><a uk-filter-control="[data-pilih='playstar']" href="#playstar"><span uk-icon="icon: chevron-double-right"></span>Playstar</a></li>
  <li><a uk-filter-control="[data-pilih='skywindgroup']" href="#skywindgroup"><span uk-icon="icon: chevron-double-right"></span>Skywind Group</a></li>
  <li><a uk-filter-control="[data-pilih='cq9gaming']" href="#cq9gaming"><span uk-icon="icon: chevron-double-right"></span>CQ9 Gaming</a></li>
  <li><a uk-filter-control="[data-pilih='topplayer']" href="#topplayer"><span uk-icon="icon: chevron-double-right"></span>Top Player</a></li>
  <li><a uk-filter-control="[data-pilih='askmeslot']" href="#askmeslot"><span uk-icon="icon: chevron-double-right"></span>Askmeslot</a></li>
  <li><a uk-filter-control="[data-pilih='evoplay']" href="#evoplay"><span uk-icon="icon: chevron-double-right"></span>Evoplay</a></li>
  <li><a uk-filter-control="[data-pilih='playngo']" href="#playngo"><span uk-icon="icon: chevron-double-right"></span>Play'n Go</a></li>
  <li><a uk-filter-control="[data-pilih='pinquan']" href="#pinquan"><span uk-icon="icon: chevron-double-right"></span>PinQuan</a></li>
  <li><a uk-filter-control="[data-pilih='rsg']" href="#rsg"><span uk-icon="icon: chevron-double-right"></span>Royal Slot Gaming</a></li>
  <li><a uk-filter-control="[data-pilih='funtagaming']" href="#funtagaming"><span uk-icon="icon: chevron-double-right"></span>Funta Gaming</a></li>
  <li><a uk-filter-control="[data-pilih='cayetanogaming']" href="#cayetanogaming"><span uk-icon="icon: chevron-double-right"></span>Cayetano Gaming</a></li>
  <li><a uk-filter-control="[data-pilih='tpg']" href="#tpg"><span uk-icon="icon: chevron-double-right"></span>Triple Profits Games</a></li>
  <li><a uk-filter-control="[data-pilih='aiwingames']" href="#aiwingames"><span uk-icon="icon: chevron-double-right"></span>Aiwin Games</a></li>
  <li><a uk-filter-control="[data-pilih='simpleplay']" href="#simpleplay"><span uk-icon="icon: chevron-double-right"></span>Simple Play</a></li>
 </ul>
</div>
{% endif %}
  
<hr>

<!-- Display Setting -->
<div class="uk-width-1-2@s uk-width-2-5@m">
<h6 class="uk-text-uppercase uk-margin-remove-bottom">{{ site.data.locales[page.locale].settings.display }}</h6>
<ul class="uk-iconnav">
    <li id="grid"><a class="uk-text-uppercase" href="#"><span uk-icon="icon: thumbnails"></span>Grid</a></li>
    <li id="list"><a class="uk-text-uppercase" href="#"><span uk-icon="icon: list"></span>List</a></li>
</ul>    
</div>
<!-- /Display Setting -->

 </div>
</div><!-- /Settings -->
