<!-- Sidenav -->
<div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
    <div class="uk-offcanvas-bar uk-text-large">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>{{ site.title }}</h3>

        <ul class="uk-nav uk-nav-primary">
            <li class="uk-nav-header">{{ site.data.locales[page.locale].page.menu }}</li>
            {% for item in site.data.locales[page.locale].menu %}
            <li><a href="{{ item.url }}"><span class="uk-margin-small-right" uk-icon="icon: {{ item.icon }}"></span> {{ item.title }}</a></li>
            {% endfor %}                  
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">
             <div class="uk-clearfix">
              <div class="uk-float-left">
               <span class="uk-nav-header">{{ site.data.locales[page.locale].page.providers }}</span>
              </div>
              <div class="uk-float-right">
               <a href="{{ "byprovider" | relative_url }}" class="uk-button uk-button-text uk-text-capitalize">Lihat Semua <span uk-icon="icon: chevron-right"></span></a>
              </div>
             </div>    
            </li>       
            {% for item in site.data.locales[page.locale].providers %}
            <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}            
        </ul>

    </div>
</div>
<!-- /Sidenav -->
