<!-- Sidenav -->
<div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
    <div class="uk-offcanvas-bar uk-text-large">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>{{ site.title }}</h3>

        <ul class="uk-nav uk-nav-primary">
            <li class="uk-nav-header">Menu</li>
            <li><a href="{{ site.url }}"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Beranda</a></li>
            <li><a href="#!"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Penafian</a></li>                  
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">
             <div class="uk-clearfix">
              <div class="uk-float-left">
               <span class="uk-nav-header">Providers</span>
              </div>
              <div class="uk-float-right">
               <a href="{{ "byprovider" | relative_url }}" class="uk-button uk-button-text uk-text-capitalize">Lihat Semua <span uk-icon="icon: chevron-right"></span></a>
              </div>
             </div>    
            </li>       
            {% for item in site.data.widgets.providers %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}            
        </ul>

    </div>
</div>
<!-- /Sidenav -->
