<!-- Sidenav -->
<div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
    <div class="uk-offcanvas-bar uk-text-large">
                
            <div class="uk-nav-header">
             <div class="uk-clearfix">
              <div class="uk-float-left">
               <span class="uk-nav-header">{{ site.data.locales[page.locale].page.menu }}</span>
              </div>
              <div class="uk-float-right">               
                <a href="#">{{ site.data.locales[page.locale].page.language }} <span uk-drop-parent-icon></span></a>
                 <div uk-dropdown="mode: click">
                  <ul class="uk-nav" uk-nav>
                   <li><a href="/">Indonesia</a></li>
                   <li><a href="/en">English</a></li>
                  </ul>
                 </div>               
              </div>
             </div>    
            </div>
        
        <ul class="uk-nav uk-nav-primary">
            
            {% for item in site.data.locales[page.locale].menu %}
            <li><a href="{{ item.url }}"><span class="uk-margin-small-right" uk-icon="icon: {{ item.icon }}"></span> {{ item.title }}</a></li>
            {% endfor %}                  
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">
             <div class="uk-clearfix">
              <div class="uk-float-left">
               <span class="uk-nav-header">{{ site.data.locales[page.locale].page.providers }}</span>
              </div>
              <div class="uk-float-right">
               <a href="{{ "categories" | relative_url }}" class="uk-button uk-button-text uk-text-capitalize">{{ site.data.locales[page.locale].page.view_all }} <span uk-icon="icon: chevron-right"></span></a>
              </div>
             </div>    
            </li>       
            {% for item in site.data.locales[page.locale].providers %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}            
        </ul>

    </div>
</div>
<!-- /Sidenav -->
