<div class="uk-child-width-expand@s" uk-height-match="target: SELECTOR" uk-grid><!-- grids -->
<!-- pragmatic play -->
<div><!-- grid div -->
 <div class="uk-card uk-card-default uk-card-body uk-border-rounded"><!-- card -->
        <!-- clearfix -->
        <div class="uk-clearfix">
         <div class="uk-float-left">
          <p class="as_provider_icon uk-text-bold uk-text-uppercase"><span class="icon-pragmatic"></span> Pragmatic Play</p><!-- card title --> 
         </div>
         <div class="uk-float-right">
          <a href="{{ "pragmatic-play" | relative_url }}" class="uk-button uk-button-text uk-text-capitalize">Lihat Semua <span uk-icon="icon: arrow-right"></span></a>
         </div>
        </div>
        <!-- /clearfix -->                 
  <div class="uk-grid-small" uk-grid><!-- begin content grids -->
   <!-- begin content imgs -->
                <div class="uk-width-1-2"><a href="{{ "pragmatic-play" | relative_url }}"><img class="uk-border-rounded" src="https://l154gamer.github.io/assets/feature/peaky-blinders.webp" width="1800" height="1200" alt=""></a></div>
                <div class="uk-width-1-2"><a href="#!"><img class="uk-border-rounded" src="https://l154gamer.github.io/assets/feature/cowboys-gold.webp" width="1800" height="1200" alt=""></a></div>
                <div class="uk-width-1-2"><a href="{{ "pragmatic-play" | relative_url }}"><img class="uk-border-rounded" src="https://l154gamer.github.io/assets/img/pragmatic-play/wild-west-duels.webp" width="1800" height="1200" alt=""></a></div>
                <div class="uk-width-1-2"><a href="{{ "pragmatic-play" | relative_url }}"><img class="uk-border-rounded" src="https://l154gamer.github.io/assets/img/pragmatic-play/wild-west-gold.webp" width="1800" height="1200" alt=""></a></div>
    <!-- /End content imgs -->
  </div><!-- /End content grids -->
 </div><!-- /card -->
</div><!-- /grid div -->
<!-- /pragmatic play -->
<!-- PG Soft -->
<div><!-- grid div -->
 <div class="uk-card uk-card-default uk-card-body uk-border-rounded"><!-- card -->
        <!-- clearfix -->
        <div class="uk-clearfix">
         <div class="uk-float-left">
          <p class="as_provider_icon uk-text-bold uk-text-uppercase"><span class="icon-pragmatic"></span> Pg Soft</p><!-- card title --> 
         </div>
         <div class="uk-float-right">
          <a href="{{ "pgsoft" | relative_url }}" class="uk-button uk-button-text uk-text-capitalize">Lihat Semua <span uk-icon="icon: arrow-right"></span></a>
         </div>
        </div>
        <!-- /clearfix -->                 
  <div class="uk-grid-small" uk-grid><!-- begin content grids -->
   <!-- begin content imgs -->
                <div class="uk-width-1-2"><a href="{{ "pgsoft" | relative_url }}"><img class="uk-border-rounded" src="https://l154gamer.github.io/assets/feature/wild-bounty-showdown.webp" width="1800" height="1200" alt=""></a></div>
                <div class="uk-width-1-2"><a href="#!"><img class="uk-border-rounded" src="https://l154gamer.github.io/assets/feature/medusa.webp" width="1800" height="1200" alt=""></a></div>
                <div class="uk-width-1-2"><a href="{{ "pgsoft" | relative_url }}"><img class="uk-border-rounded" src="https://as-saadah.github.io/games/assets/img/pgsoft/mahjong-ways2.webp" width="1800" height="1200" alt=""></a></div>
                <div class="uk-width-1-2"><a href="{{ "pgsoft" | relative_url }}"><img class="uk-border-rounded" src="https://as-saadah.github.io/games/assets/img/pgsoft/supermarket-spree.webp" width="1800" height="1200" alt=""></a></div>
    <!-- /End content imgs -->
  </div><!-- /End content grids -->
 </div><!-- /card -->
</div><!-- /grid div -->
<!-- /PG Soft -->
</div><!-- /Grids -->
