<div class="uk-child-width-expand@s" uk-height-match="target: SELECTOR" uk-grid><!-- grids -->

{% for item in site.data.widgets.feature %} 
<div><!-- grid div -->
 <div class="uk-card uk-card-default uk-card-body uk-border-rounded"><!-- card -->
  <!-- clearfix -->
  <div class="uk-clearfix">
   <div class="uk-float-left">
     <p class="as_provider_icon uk-text-bold uk-text-uppercase"><span class="icon-pragmatic"></span> {{ item.title }}</p><!-- card title --> 
   </div>
   <div class="uk-float-right">
     <a href="{{ item.url | relative_url }}" class="uk-button uk-button-text uk-text-capitalize">Lihat Semua <span uk-icon="icon: arrow-right"></span></a>
    </div>
   </div>
   <!-- /clearfix -->                 
   <div class="uk-grid-small" uk-grid><!-- begin content grids -->
   <!-- begin content imgs -->
   {% for item in item.images %} 
   <div class="uk-width-1-2">
    <a href="{{ item.url | relative_url }}">
     <img class="uk-border-rounded" src="{{ item.img }}" width="1800" height="1200" alt="{{ item.title }}">
    </a>
   </div>
   {% endfor %} 
   <!-- /End content imgs -->
  </div><!-- /End content grids -->
 </div><!-- /card -->
</div><!-- /grid div -->
{% endfor %} 

</div><!-- /Grids -->

<div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-position-relative uk-light uk-margin" tabindex="-1" uk-slider>
    <ul class="uk-slider-items uk-grid">
     {% for item in site.data.widgets.providers %}
        <li class="uk-width-1-3">
            <div class="uk-panel">
                <a href="{{ item.url | absolute_url }}"><img src="{{ item.img }}" width="100" height="100" alt="providers"></a>
            </div>
        </li>
     {% endfor %}
    </ul>
</div>
