---
layout: page
title: Online Casino Blacklist
permalink: /en/bo/
locale: en
uid: bo
---

<p>This is a list of online casino scams you need to avoid and to be aware of.</p>
<div class="uk-margin">
<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>Title</th>
            <th>Server</th>
        </tr>
    </thead>
    <tbody>
       {% for item in site.data.settings.bosedotwc %}  
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.server }}</td>
        </tr>
      {% else %}
      {% if page.locale %}<p>{{ site.data.locales[page.locale].page.nodata }}{% else %}{{ site.data.settings.page.nodata }}</p>{% endif %} 
      {% endfor %}
  </tbody>
</table>
</div>

<div class="uk-margin">
<h3>Information</h3> 
    
<h5>Deposit theft</h5>
<p>Players make deposits, but their funds never show up in their accounts. Or, they may receive a notification that their deposit was declined.</p>

<h5>Non-payment</h5>
<p>Online gambling scams can take the form of casinos that don’t pay out. Here, the player wins money, but the site claims they don’t meet the wagering requirements for withdrawal, even if they do.</p>

<h5>Rigged games</h5>
<p>Some scammers create fake online casinos and rig the games so you can never win. By doing this, they encourage you to keep playing (and losing) in the hopes that you’ll eventually give up or deposit even more money.</p>

<p>Source: <a href="https://reviewlution.ca/resources/online-casino-scams/" target="_blank">Reviewlution.ca</a></p>

</div>
