<!DOCTYPE html>
<html data-theme="light">
<head>
 {% include meta.html %}
</head>
<bod>
<!-- Navbar --> 
<nav class="uk-navbar-container uk-navbar-transparent uk-fixed-navigation">
    <div uk-navbar>
     <div class="uk-navbar-left">   
      {% if page.active == "hacksaw" %}
       <a href="{{ "lobby" | relative_url }}" uk-icon="icon: arrow-left"></a>
       {% endif %}
     </div>
     <div class="uk-navbar-center">
      <a class="uk-logo uk-navbar-item uk-text-muted" href="{{ relative_url }}">
       {{ page.title }}
      </a>  
     </div>
     <div class="uk-navbar-right">    
       <a href="{{ relative_url }}" uk-icon="icon:refresh"></a>  
       <button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite">
      </div>
     </div>
   </nav>
  <!-- /Navbar -->
 <div class="uk-section uk-margin-xlarge-top"><!-- Section -->
  <div class="uk-container"><!-- Container -->
   {{ content }}
  </div><!-- /Container -->
 </div>
{% include modal.html %}
{% include javascript.html %}
<script>
new DataTable('#hacksaw', {
    ajax: {
        url: 'https://l154gamer.github.io/api/hacksaw',
        dataType: 'JSON'
    },
    language: {
        url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/id.json'
    },
    ordering: false,
    info: true,
    paging: true,
    dom: 'Pfrtip',
    "pageLength": 25,
    columns: [        
        {
            data: 'img',
            render: function (data, type, row) {
                if (type === 'display') {
                    let link = 'https://static-stg.hacksawgaming.com/launcher/static-launcher.html?channel=mobile&language=en&currency=USD&partner=demo&mode=demo&gameid=';
                    return '<a href="' + link + '' + row.gameID + '" target="modal_iframe" onClick="showModal()"><img src="https://l154gamer.github.io/assets/img/hacksaw/' + row.img + '" width="180px" class="uk-border-rounded" alt="' + row.title + '"></a>';        
                }
                return data;
            }
        },
        {
            data: 'title',
            render: function (data, type, row) {
                if (type === 'display') {
                    let link = 'https://static-stg.hacksawgaming.com/launcher/static-launcher.html?channel=mobile&language=en&currency=USD&partner=demo&mode=demo&gameid=';
                    return '<a class="uk-link-text" href="' + link + '' + row.gameID + '" target="modal_iframe" onClick="showModal()">' + row.title + '</a>';        
                }
                return data;
            }
        },     
        {
            data: 'gameID',
            render: function (data, type, row) {
                if (type === 'display') {
                    let link = 'https://static-stg.hacksawgaming.com/launcher/static-launcher.html?channel=mobile&language=en&currency=USD&partner=demo&mode=demo&gameid=';
                    return '<a class="uk-button uk-button-default uk-button-small" href="' + link + '' + row.gameID + '" target="modal_iframe" onClick="showModal()">Play</a>';             
                }
                return data;
            }
        }
    ]
});
</script>
</body>
</html>
