<!DOCTYPE html>
<html data-theme="light">
 <head>
  <title>{{page.title}} | {{site.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/mainstyle.css' | absolute_url }}">        
 </head>
<body>
 {% include navbar.html %}
 <div class="uk-section uk-margin-xlarge-top"><!-- Section -->
  <div data-uk-filter=".js-filter" class="uk-container"><!-- Container -->
   <h3 class="uk-heading-line uk-text-center"><span>{{ page.title }}</span></h3>
   {% include filter.html %}
   {{ content }}
  </div>
 </div>
 <div id="modal" class="uk-modal-full">
  <div class="game-fallback-container">
   <button onClick="hideModal()" class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
   <iframe name="modal_iframe" src=""></iframe>
  </div>
 </div>
 {% include javascript.html %}
 
<script>
    const image = document.getElementById('games-img');

    const toDataURL = () => {
        const canvas = document.createElement('canvas');

        // We use naturalWidth and naturalHeight to get the real image size vs the size at which the image is shown on the page
        canvas.width = image.naturalWidth;
        canvas.height = image.naturalHeight;

        // We get the 2d drawing context and draw the image in the top left
        canvas.getContext('2d').drawImage(image, 0, 0);

        // Convert canvas to DataURL and log to console
        const dataURL = canvas.toDataURL();
        console.log(dataURL);
        // logs data:image/png;base64,wL2dvYWwgbW9yZ...

        // Convert to Base64 string
        const base64 = getBase64StringFromDataURL(dataURL);
        console.log(base64);
        // Logs wL2dvYWwgbW9yZ...
    };

    // If the image has already loaded, let's go!
    if (image.complete) toDataURL(image);
    // Wait for the image to load before converting
    else image.onload = toDataURL;
</script>
</body>
</html>
