<!DOCTYPE html>
<html data-theme="light">
 <head>
  <title>{{site.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/mainstyle.css' | absolute_url }}">        
 </head>
<body><!-- Body -->

<!-- Navbar --> 
<nav class="uk-navbar-container uk-navbar-transparent uk-fixed-navigation uk-navbar="mode: click"">
 <div uk-navbar>
  <div class="uk-navbar-left">    
   <a class="uk-logo uk-navbar-item" href="{{site.url}}">
    <img src="{{ "/assets/logo.svg" | absolute_url }}" width="40" height="40" alt="{{ site.title }}">
   </a>
  </div>
  <div class="uk-navbar-right">    
    <a href="{{relative_url}}" uk-icon="icon:refresh"></a>  
    <button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite">
      <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
        <mask class="moon" id="moon-mask">
          <rect x="0" y="0" width="100%" height="100%" fill="white" />
          <circle cx="24" cy="10" r="6" fill="black" />
        </mask>
        <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
        <g class="sun-beams" stroke="currentColor">
          <line x1="12" y1="1" x2="12" y2="3" />
          <line x1="12" y1="21" x2="12" y2="23" />
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
          <line x1="1" y1="12" x2="3" y2="12" />
          <line x1="21" y1="12" x2="23" y2="12" />
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
         </g>
      </svg>
    </button>            
   </div>
  </div>
</nav>
<!-- /Navbar -->

 <div class="uk-section uk-margin-xlarge-top"><!-- Section -->
  <div data-uk-filter=".js-filter" class="uk-container"><!-- Container -->
   <h3 class="uk-heading-line uk-text-center"><span>{{ page.title }}</span></h3>
   {% include filter.html %}
   {{ content }}
 
   <div id="modal" class="uk-modal-full">
    <div class="game-fallback-container">
     <button onClick="hideModal()" class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
     <iframe name="modal_iframe" src=""></iframe>
    </div>
   </div>

   {% include javascript.html %}
  </div>
 </div>
</body>
</html>
