<!DOCTYPE html>
<html data-theme="light">
 <head>
  <title>{{page.title}} | {{site.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/mainstyle.css' | absolute_url }}">        
 </head>
<body>
 {% include navbar.html %}
 <div class="uk-section uk-margin-xlarge-top"><!-- Section -->
  <div data-uk-filter=".js-filter" class="uk-container"><!-- Container -->
   <h3 class="uk-heading-line uk-text-center"><span>{{ page.title }}</span></h3>
   {% include filter.html %}
   {{ content }}
  </div>
 </div>
 <div id="modal" class="uk-modal-full">
  <div class="game-fallback-container">
   <button onClick="hideModal()" class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
   <iframe name="modal_iframe" src=""></iframe>
  </div>
 </div>
 {% include javascript.html %}
</body>
</html>
